<div ng-controller="accueilCtrl">
<div class="topHautDroit">
					<button  class="btn btn-block" ng-click="connexion()">Se connecter</button>
				</div>
<div class="container">
	<h1 class="row justify-content-md-center">Gestionnaire d'événements</h1>
</div>





	<div class="form-group">
		<div class="container">
			<div class="row justify-content-md-center">
				<div class="col-sm-3">
					<button class="btn btn-block btn-danger" ng-click="administration()">Administration</button>
				</div>
				<div class="col-sm-3">
					<button class="btn btn-block btn-success" ng-click="creerCompte()">S'inscrire</button>
				</div>
				
				
			</div>
			<br>
			<div class="row justify-content-md-center">
				<div class="col-md-6">
					<a style="text-decoration: none" href="#!listeEventInscriptionUser"><button class="btn btn-block btn-info">S'inscrire à un evenement</button></a>
				</div>
			</div>
		</div>
	</div>
</div>