<div ng-controller="inscriptionCtrl">

	<div class="container">
		
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Votre inscription à {{infosEvent.nom}}</h4>
				<p>Description de l'événement : {{infosEvent.desc}}</p>
				<p>Nombre de participant : {{infosEvent.nbPart}}/{{infosEvent.nbPartMax}}</p>
				<p>Lieu de rencontre : {{infosEvent.lieu}}</p>
				<p>Date de début : {{infosEvent.datOuvr}} / Date de fin : {{infosEvent.datFerm}}</p>
			</div>
			<div class="form-group">
				<div class="container">
					<div class="row justify-content-md-left">
						<div class="col-sm-3">
							<button type="button" class="btn btn-block  btn-warning" ng-click="retour()">Retour</button>
						</div>
						<div class="col-sm-3">
							<button ng-disabled="buttonInsc" ng-click="inscription()" class="btn btn-block">{{ sinscriretxt }}</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Vos accompagnants</h5>
				<table class="table">
					<tr>
						<th>e-mail</th>
						<th>Nom</th> 
						<th>Prénom</th>
						<th>Supprimer</th>
					</tr>

					<tr ng-repeat="(key, value) in tabAcc">
						<td>{{value.mail}}</td>
						<td>{{value.nom}}</td>
						<td>{{value.prenom}}</td>
						<td><button class="btn btn-block" ng-click="supprAcc(key)"> 🗑️ </button></td>
					</tr>
				</table>	

			</div>
		</div>


		
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Ajouter un accompagnant</h5>
				<div class="form-group">
					<div class="container">
						<div class="row justify-content-md-left">
							<div class="col-sm-5">
								<input ng-model="mail" ng-disabled="boutonAccState" class="form-control" placeholder="@mail" type="text" required autocomplete="email">
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="container">
						<div class="row justify-content-md-left">
							<div class="col-sm-5">
								<input ng-model="nom" ng-disabled="boutonAccState" class="form-control" placeholder="Nom" type="text" required autocomplete="family-name">
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="container">
						<div class="row justify-content-md-left">
							<div class="col-sm-5">
								<input ng-model="prenom" ng-disabled="boutonAccState" class="form-control" placeholder="Prénom" type="text" required autocomplete="name">
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="container">
						<div class="row justify-content-md-left">
							<div class="col-sm-5">
								<input ng-model="tel" ng-disabled="boutonAccState" class="form-control" placeholder="téléphone" type="tel" required autocomplete="tel">
							</div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="container">
						<div class="row justify-content-md-left">
							<div class="col-sm-3">
								<button ng-disabled="boutonAccState" class="btn btn-block" ng-click="inscriptionAccomp()">Inscrire l'accompagnant </button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


	</div>
</div>	
